/*RESET*/
body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #222222; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

* {
  box-sizing: border-box; }

.top-bar-bg {
  background: #122ab2;
  color: white; }
  .top-bar-bg > .top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: .8rem; }
    .top-bar-bg > .top-bar > a, .top-bar-bg > .top-bar p {
      padding: .5rem;
      color: white; }

.menu-bg {
  background: #2c70ff; }
  .menu-bg .menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
