$dark:#222222;
$blue-dark:#122ab2;
$blue:#2c70ff;
$grid-width:960px;

/*RESET*/
body,h1,h2,p,ul,li,a {
  margin: 0px;
  padding: 0px; }

body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color:$dark;
}

ul{
    list-style: none; 
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width:100%;
}

*{
    box-sizing: border-box;
}

.top-bar-bg{
    background:$blue-dark;
    color:white;
    >.top-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width:$grid-width;
        margin:0 auto;
        padding:.8rem;
      >a,p{
          padding:.5rem;
          color:white;
      }  
    }
}

.menu-bg{
    background:$blue;
    .menu{
        max-width: $grid-width;
        margin:0 auto;
        padding:1rem 0;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
    }
}