$dark:#222222;
$dark-light:#7c7c7c;
$blue-dark:#122ab2;
$blue:#2c70ff;
$blue-greened:#66d9eb;
$purple:#ae81ff;
$grid-width:960px;
$gray-light:#f7f7f7;
$gray-semi-light:#a4a4a4;
$pink:#f9265e;

@mixin gridWidthAndPosition(){
    max-width: $grid-width;
    margin:0 auto;
}

/*RESET*/
body,h1,h2,p,ul,li,a {
  margin: 0px;
  padding: 0px; }

body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color:$dark;
}

ul{
    list-style: none; 
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width:100%;
}

*{
    box-sizing: border-box;
}

.top-bar-bg{
    background:$blue-dark;
    color:white;
    >.top-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include gridWidthAndPosition();
        padding:.8rem;
      >a,p{
          padding:.5rem;
          color:white;
      }  
    }
}

.menu-bg{
    background:$blue;
    .menu{
        @include gridWidthAndPosition();
        padding:1rem 0;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        >.menu-logo{
            font-size:2.25em;
            color:white;
            margin:0 .8rem;
        }
        >nav{
            >ul{
                display: flex;
                flex-wrap: wrap;
                a{
                    font-size:1.25em;
                    color:white;
                    display: block;
                    padding:.8rem;
                    &:hover{
                        color:$blue-dark;
                    }
                }
            }
        }
    }
}

.introduction{
    font-size: 3em;
    line-height: 1;
    @include gridWidthAndPosition();
    padding:3.8rem .8rem;
}

.about{
    border-top:.2rem solid $blue-dark;
    @include gridWidthAndPosition();
    padding:3.8rem 0;
    display: flex;
    flex-wrap: wrap;
    .about-info{
        flex:2 1 300px;
        margin: 0 .8rem;
        >h1{
            font-size:3em;
            margin-bottom:1rem;
        }
        >p{
            font-size:1.25em;
            line-height: 1.4;
            margin-bottom:1rem;
            color:$dark-light;
        }
    }
    .about-img{
        flex:1 1 160px;
        margin:0 .8rem;
    }
}

.products {
    max-width:$grid-width;
    margin:3.8rem auto;
    >h1{
        font-size: 3em;
        margin: 0 .8rem 3.8rem .8rem;
    }
}

.products-container{
    display: flex;
    align-items: flex-end;
    flex-wrap:wrap;
    >.product-item{
        flex:1 1 200px;
        border-top:solid .3rem;
        margin:.8rem;
        >h2{
            padding:3.8rem 1.2rem;
            color:$dark-light;
            font-size: 3em;
            background:$gray-light;
        }
        &.pink{
            border-color:$pink;
        }
        &.purple{
            border-color: $purple;
        }
        &.blue{
            border-color: $blue-greened;
        }
    }
}

.pricing{
    padding: 4rem;
    background:$gray-light;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end; 
    >.pricing-item{
        flex:1 1 260px;
        border:.3rem solid white;
        padding:.8rem;
        margin:1rem;
        >h2{
            font-size:3em;
            color:$gray-semi-light;
            text-align: center;
            margin-top:1.2rem;
        }
        >a{
            max-width: 300px;
            display: block;
            margin:1.1rem auto;
            border:solid .2rem $dark;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.25em;
            padding:1rem;
            color:$dark;
            text-align: center;
        }
        >ul{
            max-width: 300px;
            margin:1.1rem auto;
            font-size: 1.25em;
            line-height: 1;
            font-style: italic;
        }
        >span{
            max-width:300px;
            font-size:3em;
            margin:1.1rem auto;
            display: block;
            text-align: center;
            font-weight: bold;
            border: {
                bottom:solid .3rem white;
                top:solid .3rem white;
            }
            >sup{
                font-size: 1rem;
            }
        }
    }
}

.pricing-item > ul > li {
    display: flex;
    margin-bottom:.8rem;
    justify-content: space-between;
    align-items: center;
}

.pricing-item > ul > li::after {
    content:'';
    display: block;
    width:.4rem;
    height:.4rem;
    background:$blue;
}